.card-header-hover {
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    /* Fond par défaut (vous pouvez le modifier selon votre design) */
    background: linear-gradient(to left,rgb(3, 112, 3), rgb(3, 11, 107));
    color: #00ffff;
  }
  
  .card-header-hover:hover {
    background: linear-gradient(45deg, #00f7ff, #21f367);
    color: #ffffff; /* Change la couleur du texte au survol */
    
  }
  
  /* .card-scaling:hover {
        transform: scale(1.1);
        cursor: pointer;
        transition: all 0.8s ease;
  }
   */
   @keyframes glowEffect {
    0% { box-shadow: 0px 0px 20px rgba(0, 255, 242, 0.5); }
    100% { box-shadow: 0px 0px 35px rgba(0, 255, 242, 0.8); }
  }
  
  .animated-value {
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ffffff, #ffff00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 5px rgba(255, 0, 0, 0.3);
    animation: pulseGlow 1.5s infinite alternate;
  }
  
  @keyframes pulseGlow {
    0% { text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5); }
    100% { text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9); }
  }
  